@model ProductListViewModel

<p>
    <a asp-action="Add" asp-controller="Product" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Unit Price</th>
            <th>Unit in Stock</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
                <td>
                    <a class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId ="@item.ProductId">Add To Card</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<product-list-pager current-category="@Model.CurrentCategory"
                    page-count="@Model.PageCount"
                    page-size="@Model.PageSize"
                    current-page="@Model.CurrentPage">

</product-list-pager>